body {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

p {
    text-align: center;
    font-size: 20px;
    color: black
}

h1{
    text-align: center;
}

.cButton {
    padding: 5px;
    cursor: pointer;
    width: 100px;
    height: fit-content;
    border: solid;
    border-color: black;
    color: black;
    background-color: white;
    border-radius: 10px;
    font-size: 1rem;
  }

.container {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.pageTitle {
    text-align: center;
    margin: 0px;
    border-top-color: black;
    border-top-style: solid;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-width: 3px;
}

.bottomColor {
    text-align: center;
    height: 150px;
    margin: 0px;
    border-top-color: black;
    border-top-style: solid;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-width: 3px;
}

.normal {
    background-color: #A8A77A;
}

.fire {
    background-color: #EE8130;
}

.water {
    background-color: #6390F0;
}

.electric {
    background-color: #F7D02C;
}

.grass {
    background-color: #7AC74C;
}

.ice {
    background-color: #96D9D6;
}

.fighting {
    background-color: #C22E28;
}

.poison {
    background-color: #A33EA1;
}

.ground {
    background-color: #E2BF65;
}

.flying {
    background-color: #A98FF3;
}

.psychic {
    background-color: #F95587;
}

.bug {
    background-color: #A6B91A;
}

.rock {
    background-color: #B6A136;
}

.ghost {
    background-color: #735797;
}

.dragon {
    background-color: #6F35FC;
}

.dark {
    background-color: #705746;
}

.steel {
    background-color: #B7B7CE;
}

.fairy {
    background-color: #D685AD;
}